.noticias-container {
  max-width: 1200px;
  margin: auto;
  padding: 3rem 1.5rem;
  font-family: "Poppins", sans-serif;
}

/* Encabezado */
.noticias-header {
  text-align: center;
  margin-bottom: 3.5rem;
}

.noticias-header h1 {
  font-size: 2.6rem;
  color: #0061a3;
  margin-bottom: 0.8rem;
  font-weight: 600;
}

.noticias-header p {
  font-size: 1.2rem;
  color: #444;
  max-width: 750px;
  margin: 0.8rem auto 0;
  line-height: 1.7;
}

/* Noticia principal */
.noticia-principal {
  background: #ffffff;
  border-left: 6px solid #00a6d6;
  border-radius: 10px;
  padding: 2.5rem 2rem;
  margin-bottom: 4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2.5rem;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.06);
}

.noticia-info {
  flex: 1 1 400px;
}

.noticia-info h2 {
  font-size: 1.9rem;
  color: #0061a3;
  font-weight: 600;
  margin-bottom: 1rem;
}

.noticia-info p {
  color: #444;
  font-size: 1.05rem;
  line-height: 1.8;
  text-align: justify;
}

/* imagen */
.noticia-img {
  width: 100%;
  max-width: 520px;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
}
/* CARDS */
.cards-titulo {
  text-align: center;
  color: #0061a3;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.noticias-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2.5rem;
  justify-items: center;
}

.noticia-card {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  background: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.noticia-card:hover {
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.12);
}

.card-img-wrap img[mat-card-image] {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.card-content {
  padding: 1.1rem;
  text-align: center;
  background: #f9fafb;
}

.card-content h3 {
  color: #4091c7;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
}

.card-content p {
  color: #555;
  font-size: 1rem;
  line-height: 1.6;
}

.noticia-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* Responsive */
@media (max-width: 768px) {
  .noticia-principal {
    flex-direction: column;
    text-align: center;
    padding: 1rem 1rem;
  }
  .noticia-img {
    max-width: 100%;
    height: 260px;
    object-fit: contain;
  }
  .noticia-info {
    flex: 1 1 80px;
  }
}
